
/* Paleta de colores === blueDark #041C32 /blue-Dark #04293A / blue --dark#064663
beige #ECB365 / white #FFFFFF/grey ##EEEEEE*/

/* contactos y otros*/

.contenedor h3{margin: 20px;
    color: black;}

#Contactenos{
    background-color: #064663;
    width: 100%;
    height: auto;
}
.contenedor{background-color: #041C32;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: #ECB365;
    padding: 40px;
    }