/* Paleta de colores === blueDark #041C32 /blue-Dark #04293A / blue --dark#064663
beige #ECB365 / white #FFFFFF/grey ##EEEEEE*/

/* definiciones de patologías */
#Definiciones {
    background-color: rgb(243, 236, 236);
    height: auto;
    width: 100%;
  }

#Definiciones H2{
   padding: 20px;
   margin-top: 5px;}

.define{color:cornflowerblue;
  }

.definePatologias{display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 auto;}

.articuloTexto{width: 33%;
                height: auto;}

h3.defineTitulos {font-family: 'Ubuntu', sans-serif;
         font-size: 16px;
         color:darkslateblue;
         height: 10px;
         width: 50%;
}
p.defineParrafo{font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: grey;
    height: 50px;
    width: 100%;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}
.imagPatologia{
    margin:10px;
    padding: 5px;
    height: auto;
    background-color: white;
    width: 100%;
    border: solid 1px gray;
}

/* colores blueDark #041C32 /blue-Dark #04293A / blue --dark#064663
beige #ECB365 / white #FFFFFF/grey ##EEEEEE*/

/* Productos */
#Productos{
  background-color: #064663;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  padding: 40px;
}
.tituloProd{
  color: white;
  text-align: center;
}

.container{
width: 100%;
max-width: 1200px;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;
background-color: aliceblue;
}

.container .card{
width: 330px;
height: 430px;
border-radius: 7px;
box-shadow: 0 2px 2px black;
overflow: hidden;
margin: 20px;
text-align: center;
transition: all 0.25s;
}

.container .card h2{
font-size: 20px;
font-weight: 600;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container p{
padding: 0 1rem;
font-size: 16px;
font-weight: 300;
}