/* contactos y otros*/

/* .mapa{display: flex;
justify-content: center;} */

#Contactenos{
    background-color: #ECB365;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.contenedor{
    display:flex;
    align-items: center;
    justify-content:center;
}

.mapa iframe {margin: 20px;
             padding: 5px;}

/* LEGALES */
footer{background-image: linear-gradient(#041C32 20%, #064663 80%);
    font: white;
    padding-bottom: 15px;}

footer ul li a {color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;}

.seguinosEn{color: white;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 16px;
    align-items: center;
    padding: 3px;
    margin: 10px;
    }

.logosRRSS a {margin: 3px;
    padding: 3px;
}

.logosRRSS{
    display: flex;
    justify-content: center;
    }

/* Specs textos legales generalidades */
.tituloUp{
    color: lightgray;
    font-weight: 500;
    font-size: 30px;
    margin: 20px;
}

.subTituloLegales {
    color:#064663;
    font-weight: 500;
    font-size: 18px;
}

article.cuerpoLegales {
    padding-top: 10px;
    margin: 5px;
    text-align: left;
    padding-left: 20px;}


.parrafoLegales{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-weight: lighter;
    margin-top: -30px;
}
        
    /* colores blueDark #041C32 /blue-Dark #04293A / blue --dark#064663
beige #ECB365 / white #FFFFFF/grey ##EEEEEE*/