
/* A partir de aca encabezado */
body{font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;}

.navbar-brand{
    margin: 5px;
}

nav a.textoLogo{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-right: 30px;
}

/* pitch elevator */
/* A partir de aca encabezado */
.tituloPrincipal{height: 380px;
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;}

h1{
    color:#064663;
    font-family: 'Ubuntu', sans-serif;
}

.animacion{display: inline-block;
    margin: 0 0.5rem;
    animation: backInLeft; 
    animation-duration: 2s; 
}

h2{ Color: #064663;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;}