/* Specs textos legales generalidades */
.tituloUp{
    color: lightgray;
    font-weight: 500;
    font-size: 30px;
    margin: 20px;
}

.subTituloLegales {
    color:#064663;
    font-weight: 700;
    font-size: 18px;
}

article.cuerpoLegales {
    padding-top: 10px;
    margin: 5px;
    text-align: left;
    padding-left: 20px;}


.parrafoLegales{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-weight: lighter;
    margin-top: -30px;
}
        
.menuPie{color: white;}

    /* colores blueDark #041C32 /blue-Dark #04293A / blue --dark#064663
beige #ECB365 / white #FFFFFF/grey ##EEEEEE*/