
/* colores blueDark #041C32 /blue-Dark #04293A / blue --dark#064663
beige #ECB365 / white #FFFFFF/grey ##EEEEEE*/

/* testimonios de usuarios */
#Testimonios {
    background-color: rgb(236, 235, 235);
    width: 100%;
    height: auto;
    margin-top: 10px; 
    padding-top: 3px;
}
#Testimonios h2{padding: 3px;
    margin-top: 5px;
}

#Testimonios h4{font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color:darkslateblue;
    padding-top: 3px;
    margin-top: 3px;
}
